<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.petmanagementsystem.mapper.PetMapper">


    <insert id="addPet">
        insert into pet
            (name, pet_type_id, picture, gender) value
            (#{name}, #{petTypeId}, #{picture}, #{gender})
    </insert>
    <select id="queryPetList" resultType="cn.petmanagementsystem.domain.Pet">
        select * from pet
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>

            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="petTypeId != null and petTypeId != ''">
                and pet_type_id = #{petTypeId}
            </if>
            <if test="adoptStatus != null and adoptStatus != ''">
                and adopt_status = #{adoptStatus}
            </if>
        </where>
    </select>
</mapper>