<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.petmanagementsystem.mapper.PetMapper">


    <insert id="addPet">
        insert into pet
            (name, pet_type_id, picture, adopt_address, gender) value
            (#{name}, #{petTypeId}, #{picture},#{adoptAddress}, #{gender})
    </insert>
    <update id="updateStatus">
        update pet set adopt_status = #{status} where id = #{petId}
    </update>
    <select id="queryPetList" resultType="cn.petmanagementsystem.domain.Pet">
        select p.*,pt.type_name as petTypeName,pt.pet_type  from pet p left join pet_type pt on p.pet_type_id = pt.id
        <where>
            <if test="name != null and name != ''">
                and p.name like concat('%', #{name}, '%')
            </if>

            <if test="gender != null and gender != ''">
                and p.gender = #{gender}
            </if>
            <if test="typeId != null and typeId != ''">
                and p.pet_type_id = #{typeId}
            </if>
            <if test="adoptStatus != null and adoptStatus != ''">
                and p.adopt_status = #{adoptStatus}
            </if>
            <if test="petType != null">
                and pt.pet_type = #{petType}
            </if>
        </where>
    </select>
    <select id="getPetDetail" resultType="cn.petmanagementsystem.domain.Pet">
        select p.*, pt.type_name as petTypeName
        from pet p
                 left join pet_type pt on p.pet_type_id = pt.id
        where p.id = #{id}
    </select>
</mapper>