<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.petmanagementsystem.mapper.UserMapper">
    <insert id="register">
        insert into user(name,account_name, password,phone)
        values(#{name},#{accountName},#{password},#{phone})
    </insert>

    <update id="deleteUser">
        update user
        set status = 1
        where id = #{id}
    </update>

    <select id="login" resultType="cn.petmanagementsystem.domain.User">
        select *
        from user
        where account_name = #{username}
          and password = #{password}
          and status = 1
    </select>
    <select id="getUserList" resultType="cn.petmanagementsystem.domain.User">
        select *
        from user
        <where>
            <if test="accountName != null and accountName != ''">
                and account_name like concat('%',#{accountName},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>